<div class="dashboard-container">
  <nav>
    <!-- Seta esquerda carrossel -->
    <button
      type="button"
      (click)="scrollLeft()"
      #arowLeft
    >
      <img
        src="../../../assets/icon-caret-circle-left.svg"
        alt=""
      />
    </button>
    <!-- Container com todos os paciente cadastrados -->
    <div
      class="user-aligment"
      #widgetsContent
      [ngClass]="profileClassListBased"
    >
      <!-- Apenas as informações de um paciente -->
      <div
        class="icon-patient"
        *ngFor="let p of profilesList"
      >
        <button
          type="button"
          (click)="handleSelectProfile(p)"
        >
          <app-avatar [avatarLetter]="getProfileNameLetter(p)" />
        </button>
        <p class="name-patient">{{ getSimpleName(p.name) }}</p>
      </div>
    </div>
    <!-- Seta direita carrossel -->
    <button
      type="button"
      (click)="scrollRight()"
      #arowRight
    >
      <img
        src="../../../assets/icon-caret-circle-right.svg"
        alt=""
      />
    </button>
  </nav>
  <section #card>
    <!-- Avatar do card -->
    <ng-container>
      <div *ngIf="!isProfileSelected">
        <app-avatar avatarClass="large" />
      </div>
      <div *ngIf="isProfileSelected">
        <app-avatar
          [avatarLetter]="getProfileNameLetter(profile)"
          avatarClass="large"
        />
      </div>
    </ng-container>

    <!-- Informações do paciente -->
    <div class="info-card">
      <div *ngIf="isDataEmpty && !isProfileSelected">
        <h1>Não há pacientes cadastrados ainda</h1>
      </div>
      <div *ngIf="!isDataEmpty && !isProfileSelected">
        <h1>Clique em um paciente</h1>
      </div>
      <div *ngIf="!isDataEmpty && isProfileSelected">
        <h1>{{ profile.name }}</h1>
        <h2>Tratamento {{ profile.treatmentType }}</h2>
        <h3>
          Próxima consulta:
          {{ profile.nextAppointment | date: dateFormatted }}
        </h3>
        <div class="aligment">
          <h3>{{ profile.address.street }} , {{ profile.address.number }}</h3>
          <h3>{{ profile.address.city }} / {{ profile.address.state }}</h3>
        </div>
      </div>
    </div>

    <!-- Botões de edição e de deletar -->
    <div
      *ngIf="isProfileSelected"
      class="icons"
    >
      <!-- Botão de editar -->
      <button
        type="button"
        class="icon-edit-card"
        (click)="goToEditionPage(profile)"
      >
        <img
          src="../../../assets/icon-pencil-simple-line.svg"
          alt=""
        />
      </button>

      <!-- Botão de excluir -->
      <button
        type="button"
        class="icon-delet-card"
        (click)="handleOpenModal()"
      >
        <img
          src="../../../assets/icon-filex.svg"
          alt=""
        />
      </button>
    </div>
  </section>

  <!-- Modal de confirmação de exclusão  -->
  <app-modal
    *ngIf="isModalVisible"
    (modalCustomEvent)="onDeletePatient()"
    (modalEventClose)="onCloseModal()"
    customButtonName="Confirmar"
    customButtonColor="danger"
    customButtonTitle="Ação necessária"
  >
    <div>
      <p>
        A ação <span class="highlighted-text">não poderá</span> ser desfeita.
        Deseja continuar?
      </p>
    </div>
  </app-modal>
</div>
