.dashboard-container{
  background-color: var(--white);
  position: relative;
  margin-bottom: 4rem;

    & nav{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--green-200);
      border-bottom: 2px solid var(--green-200);
      & button{
        background-color: transparent;
        line-height: 0;
        border: 0;
      }
      & img {
        width: 35px;
      }
    }
}

.user-aligment{
  padding: 0 1rem;
  flex: 1;
  margin: 0 1rem;
  display: flex;
  gap: 2rem;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  & .icon-patient{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 5px 0px;

    & button{
      background-color: transparent;
      border: 0;
      line-height: 0;
      outline: 2px solid transparent;
      border-radius: 50%;

      &:hover{
        outline-color: var(--dark-300);
      }
    }
    & .name-patient{
      width: 6rem;
      text-align: center;
      margin: 5px 0px;
      font-weight: bold;
      font-size: 1.17rem;
    }
  }
}

.dashboard-container header{

  background-color: var(--white);
  width: 80vw;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
  border: solid 2px var(--green-500);
  border-radius: 5px;
  overflow: hidden;

  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  &::before {
    content: '';
    background-color: var(--green-500);
    width: 100rem;
    height: 35rem;
    position: absolute;
    top: 0;
    left: 0;
    rotate: 60deg;
    translate: -47rem 14rem;
  }

  & .info{
    background-color: var(--white);
    flex: 1;
    margin: 2rem 4rem 2rem 2rem;
    width: 100%;
  }

  & h1 {
    font-size: 2rem;
    line-height: 1.6;
    position: relative;
  }

  & h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
    color: var(--green-500);
    position: relative;
  }

  &  h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6;
  }

  & .aligment {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    gap: 7rem;
  }

  & .icons{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;

    & button{
      background-color: transparent;
      border: 0;
      line-height: 0;

      &:hover{
        scale: 1.1;
      }
    }

    & .icon-edit-card img{
      margin-right: 1.2rem;
    }
  }




  @media(max-width: 480px){

    padding: 0;
    display: block;
    width: 80vw;

    &::before {
      content: '';
      width: 9rem;
      height: 20rem;
      background-color: var(--green-500);
      position: absolute;
      top: 0;
      left: 0;
      rotate: 50deg;
      translate: 0 -10rem;
    }

    & .info {
      background-color: var(--white);
      flex: 1;
      width: 100%;
      padding:1rem;
      margin: 0;

      .aligment {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 2rem 0 0 0;
      }
    }

    & .icons {
      position: relative;
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 6rem;
      margin: 1.5rem 0;
      top: 0;
      right: 0;

      & .icon-edit-card img{
          margin: 0;
      }

      & img{
        width: 35px;
      }
    }
  }
}

.pspace {
  justify-content: space-between;
}

.pcenter {
  justify-content: center;
}
.highlighted-text{
  color: var(--danger-500);
  font-weight:  800;
}
