.dashboard-container{
  background-color: var(--white);
  position: relative;
  height: calc(100vh - 5.6rem);
  margin-bottom: 4rem;
}
.dashboard-container nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-200);
  border-bottom: 2px solid var(--green-200);
  padding: 1rem;
}
.dashboard-container .userAligment{
  flex: 1;
  margin: 0 1rem;
  display: flex;
  gap: 2rem;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
.dashboard-container .userAligment .iconPatient{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}
.dashboard-container .userAligment .iconPatient p{
  width: 6rem;
  text-align: center;
  margin: 5px 0px;
  font-weight: bold;
}
.dashboard-container header{
  background-color: var(--white);
  width: 80vw;
  height: 20rem;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
  border: solid 2px var(--green-500);
  border-radius: 5px;
  overflow: hidden;

  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  &::before {
    content: '';
    background-color: var(--green-500);
    width: 30rem;
    height: 35rem;
    position: absolute;
    top: 0;
    left: 0;
    rotate: 60deg;
    translate: -20rem 0 0;
  }

}
.dashboard-container header .info{
  background-color: var(--white);
  flex: 1;
  margin: 2rem;
}
.dashboard-container header .info h1 {
  font-size: 2.4rem;
  line-height: 1.6;
  position: relative;
}
.dashboard-container header .info h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6;
  color: var(--green-500);
  position: relative;
}

.dashboard-container header .info h3 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.6;
}
.dashboard-container header .info .aligment {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  gap: 7rem;
}
.dashboard-container header svg{
    color: var(--green-500) ;
    cursor: pointer;
    z-index: 1;

    position: absolute;
    top: 2rem;
    right: 1rem;

}
.iconEditCard svg{
  margin-right: 3rem;
}

@media(max-width: 480px){

  .dashboard-container header{
    padding: 0;
    height: auto;
    overflow: auto;

    display: block;

    &::before {
      content: '';
      width: 9rem;
      height: 20rem;
      background-color: var(--green-500);
      position: absolute;
      top: 0;
      left: 0;
      rotate: 50deg;
      translate: 0 -10rem;
    }

  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
  .aligment {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 2rem 0 0 0;
  }
  .icons {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin:auto;
  }
  .iconDeletCard {
    z-index: 1;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .iconDeletCard svg{
    width: 3rem;
    height: 3rem;
  }
  .iconEditCard {
    z-index: 1;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .iconEditCard svg{
    margin: 0;
    width: 3rem;
    height: 3rem;
  }
}

.pspace {
  justify-content: space-between;
}

.pcenter {
  justify-content: center;
}
