<div class="dashboard-container">
  <nav>
    <button
      type="button"
      (click)="scrollLeft()"
      #arowLeft
    >
      <img
        src="../../../assets/icon-caret-circle-left.svg"
        alt=""
      />
    </button>
    <div
      class="user-aligment"
      #widgetsContent
      [ngClass]="profileClassListBased"
    >
      <div
        class="icon-patient"
        *ngFor="let p of profilesList"
      >
        <button
          type="button"
          (click)="handleSelectProfile(p)"
        >
          <app-avatar [avatarLetter]="p.firstName.substring(0, 1)"></app-avatar>
        </button>
        <p class="name-patient">{{ p.firstName }} {{ p.lastName }}</p>
      </div>
    </div>

    <button
      type="button"
      (click)="scrollRight()"
      #arowRight
    >
      <img
        src="../../../assets/icon-caret-circle-right.svg"
        alt=""
      />
    </button>
  </nav>
  <header>
    <div *ngIf="!isProfileSelected; else elseAvatar">
      <app-avatar [large]="true"></app-avatar>
    </div>
    <ng-template #elseAvatar>
      <app-avatar
        [avatarLetter]="profile.firstName.substring(0, 1)"
        [large]="true"
      ></app-avatar>
    </ng-template>
    <div class="info">
      <div *ngIf="isDataEmpty; else elseBlock1">
        <h1>Não há pacientes cadastrados ainda</h1>
      </div>
      <ng-template #elseBlock1>
        <div *ngIf="!isProfileSelected; else elseBlock">
          <h1>Clique em um paciente</h1>
        </div>
        <ng-template #elseBlock>
          <h1>{{ profile.fullName }}</h1>
          <h2>Tratamento Print 3D</h2>
          <h3>Próxima consulta: 00</h3>
          <div class="aligment">
            <h3>Rua Pontife Supremo , 777</h3>
            <h3>Bragança Paulista / SP</h3>
          </div>
        </ng-template>
      </ng-template>
    </div>
    <div
      *ngIf="isProfileSelected"
      class="icons"
    >
      <button
        type="button"
        class="icon-edit-card"
        (click)="goToEditionPage(profile)"
      >
        <img
          src="../../../assets/icon-pencil-simple-line.svg"
          alt=""
        />
      </button>
      <button
        type="button"
        class="icon-delet-card"
        (click)="handleOpenModal()"
      >
        <img
          src="../../../assets/icon-filex.svg"
          alt=""
        />
      </button>
    </div>
  </header>
  <app-modal
    *ngIf="isModalVisible"
    (modalCustomEvent)="onDeletePatient()"
    (modalEventClose)="onCloseModal()"
    customButtonName="Confirmar"
    customButtonColor="danger"
    customButtonTitle="Ação necessária"
  >
    <div>
      <p>
        A ação <span class="highlighted-text">não poderá</span> ser desfeita.
        Deseja continuar?
      </p>
    </div>
  </app-modal>
</div>
