.editor-container {
  background-color: var(--white);
  margin: 1rem;
}

.editor-display {
  background-color: var(--white);
  max-width: 70rem;
  margin:1rem auto;
  border: 1px solid var(--dark-300);
  border-radius: 4px;
  box-shadow: 0px 0px 8px 1px var(--dark-300);
  overflow: hidden;
}

.editor-header {
  padding: 1rem;
  border-bottom: 1px solid var(--dark-300);
  overflow: hidden;

  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  &::before {

    content: '';
    background-color: var(--green-500);
    width: 100rem;
    height: 35rem;
    position: absolute;
    top: 0;
    left: 0;
    rotate: 60deg;
    translate: -50rem 14rem;

  }
  @media(max-width: 480px){
    &::before {
      width: 9rem;
      height: 20rem;
      rotate: 37deg;
      translate: -4rem -8rem;
    }
  }
}

.editor-header-info {
  flex: 1;
  height: 100%;

  & h2 {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75;
  };

  & h3 {
    color: var(--green-500);

    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75;
  };

  & p {
    color: var(--dark-400);

    text-align: right;
    text-transform: initial;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.editor-content {
  background-color: var(--white);
  padding: 1rem;
}

.editor-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  & h2 {
    flex: 1;
    text-transform: initial;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75;

    &::first-letter {
      text-transform: uppercase;
    }
  };
}

.editor-content-section {
  margin-top: 1rem;

  & + & {
    margin-top: 2rem;
  }

  & p {
    border: 1px solid transparent;
    border-bottom-color: var(--dark-200);

    text-transform: initial;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75;

    &::first-letter {
      text-transform: uppercase;
    }
  };
}

.editor-content-section-line {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.highlighted-text{
  color: var(--danger-500);
  font-weight:  800;
}
