<div class="popup-wrapper">
  <div class="popup">
    <div>
      <h2>{{ customButtonTitle }}</h2>
      <div class="content"><ng-content></ng-content></div>
      <div class="buttons">
        <button
          class="ces-button ces-button-variant-neutral ces-element-dimension-fit-content"
          (click)="closeModal()"
        >
          Cancelar
        </button>
        <button
          class="ces-button ces-element-dimension-fit-content"
          [ngClass]="'ces-button-variant-' + customButtonColor"
          (click)="buttonCustomModal()"
        >
          {{ customButtonName }}
        </button>
      </div>
    </div>
  </div>
</div>
