<div class="login-container">
  <div class="login-display">
    <header class="login-header">
      <h1>login</h1>
      <h2>bem vindo ao nosso sistema!</h2>
    </header>

    <main class="login-content">
      <form
        (ngSubmit)="onFormSubmit()"
        action=""
        [formGroup]="loginForm"
      >
        <div
          class="ces-forms-field ces-element-dimension-entirely ces-element-responsiveness"
        >
          <label
            for="treatment-type-field"
            class="ces-label ces-label-letterlized"
          >
            e-mail

            <ng-container *ngIf="elementTouched.inputEmail">
              <span
                *ngIf="fieldControl.email?.hasError('required')"
                class="ces-text-variant-danger"
              >
                *requerido
              </span>
              <span
                *ngIf="fieldControl.email?.hasError('email')"
                class="ces-text-variant-danger"
              >
                *insira um email válido
              </span>
            </ng-container>
          </label>

          <input
            #inputLoginRef
            required
            id="email-field"
            name="email-field"
            type="email"
            class="ces-input"
            formControlName="email"
            (blur)="onInputBlur(inputLoginRef, 'inputEmail')"
          />
        </div>

        <div
          class="ces-forms-field ces-element-dimension-entirely ces-element-responsiveness"
        >
          <label
            for="password-field"
            class="ces-label ces-label-letterlized"
          >
            senha

            <ng-container *ngIf="elementTouched.inputPassword">
              <span
                *ngIf="fieldControl.password?.hasError('required')"
                class="ces-text-variant-danger"
              >
                *requerido
              </span>
            </ng-container>
          </label>

          <div class="ces-input-icon">
            <button
              type="button"
              title="show password"
              class="ces-button-icon ces-button-variant-primary"
              (click)="handleChangePasswordVisibility()"
            >
              <img
                [src]="iconImage"
                alt=""
              />
            </button>

            <input
              #inputPasswordRef
              required
              id="password-field"
              name="password-field"
              [type]="inputType"
              class="ces-input"
              (blur)="onInputBlur(inputPasswordRef, 'inputPassword')"
              formControlName="password"
            />
          </div>
        </div>

        <button
          type="submit"
          class="ces-button ces-button-variant-primary"
        >
          entrar
        </button>
      </form>
    </main>

    <footer class="login-footer">
      <a
        href="https://aditek.com.br/"
        target="_blank"
      >
        política de uso
      </a>
    </footer>
  </div>
</div>
