<div class="login-container">
  <div class="login-display">
    <header class="login-header">
      <h1>login</h1>
      <h2>bem vindo ao nosso sistema!</h2>
    </header>

    <main class="login-content">
      <form
        (ngSubmit)="handleLogin()"
        action=""
        [formGroup]="loginForm"
      >
        <div
          class="ces-forms-field ces-element-dimension-entirely ces-element-responsiveness"
        >
          <label
            for="treatment-type-field"
            class="ces-label ces-label-letterlized"
          >
            e-mail

            <span
              *ngIf="fieldControl.email?.hasError('required')"
              class="ces-text-variant-danger"
            >
              *requerido
            </span>
            <span
              *ngIf="fieldControl.email?.hasError('email')"
              class="ces-text-variant-danger"
            >
              *insira um email válido
            </span>
          </label>

          <input
            required
            id="treatment-type-field"
            type="email"
            class="ces-input"
            formControlName="email"
          />
        </div>

        <div
          class="ces-forms-field ces-element-dimension-entirely ces-element-responsiveness"
        >
          <label
            for="password-field"
            class="ces-label ces-label-letterlized"
          >
            senha

            <span
              *ngIf="fieldControl.password?.hasError('required')"
              class="ces-text-variant-danger"
            >
              *requerido
            </span>
          </label>
          <div>
            <button
              type="button"
              title="show password"
              class="ces-button-icon ces-button-variant-primary"
              (click)="handleChangePasswordVisibility()"
            >
              <img
                [src]="iconImage"
                alt=""
              />
            </button>

            <input
              required
              id="password-field"
              class="ces-input"
              [type]="inputType"
              name="password"
              formControlName="password"
            />
          </div>
        </div>

        <button
          type="submit"
          class="ces-button ces-button-variant-primary"
        >
          entrar
        </button>
      </form>
    </main>

    <footer class="login-footer">
      <a
        href="https://aditek.com.br/"
        target="_blank"
      >
        política de uso
      </a>
    </footer>
  </div>
</div>
